@import "index.css";
@import url("index.css");

:root{
    --group_width: 300px;
}
#groupsprog{
  display:block;
  margin:  auto;
  padding: 16px;
  height: 60%;
  width: 60%;
}

div.group {
    border: 1px solid ;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    width: var(--group_width);
}

#addGroupButton{
    margin: 5px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

#addGroupButton:hover{
    background-color: #FFB300;
}

.removeButton{
  opacity: 0.3;
  transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -webkit-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 1px;
  top: 1px;
  cursor: pointer;
}
.removeButton:hover{
  opacity: 1;
}

button.addButton{
  text-decoration: none;
  background-color: white;
  border: none;
  margin:auto;
  display: block;
}

.material-icons {
    color: var(--gray)
}

div.person{
    border: 1px solid var(--light-gray);
    position: relative;
    padding: 10px 0px;
}

#groups{
    display: inline-block;
    overflow-x: scroll;
    overflow-y: auto;
    max-width: 95%;
    margin: 20px 10%;
    white-space: nowrap;
    text-align: center;
}

#groups input{
    width: 80%;
    margin: 2px 10px;
    height: 30px;
}

.groupTitle{
    background-color: var(--gold);
    border-radius: 8px 8px 0 0;
    border-bottom-style:solid;
    position: relative;
    height: 40px;
    display: inline-flex;
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;
    width: var(--group_width);
}
