
div.group{
    border-style: solid; 
    border-color: black; 
    display: inline-block;
    vertical-align: top;
    margin: 5px; 
}
div.person{
    background-color: lightgrey; 
    border-top-style: solid;
    border-bottom-style:solid; 
    border-color: gray;
    padding: 10px; 
    margin: 5px; 
}
input{
    margin: 0px 10px; 
}
#healthBar{
    display: inline-block;
    float: left; 
}
#groups{
    border-style: solid; 
    display: inline-block;
    float: right; 
}
.groupTitle{
    background-color: #4CAF50; 
    padding: 15px; 
}

