
/**
Global CSS
**/
/** color variables**/
:root{
    --fire-orange: #FF6D00;
    --dark-orange: #FF8F00;
    --medium-orange: #FFA000;
    --gold: #FFC107;
    --pale-orange: #FFECB3;
    --black: #212121;
    --gray: #E0E0E0;
    --light-gray: #BDBDBD;
    --offwhite: #EEEEEE;
    --blue: #0091EA;
    --green: #00C853;
    --yellow: #FFEB3B;
    --sky-blue: #2196F3;
}

body, div, button, p{
   font-family: 'Avenir', sans-serif;
   margin: 0px;
}

h1{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Avenir', sans-serif;
    color: var(--black);
    text-align: left;
    margin: 30px auto 10px 10%;
}

h2, h3, h4{
    font-family: 'Avenir', sans-serif;
    color: var(--black);
    text-align: left;
    margin: 5px 10%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.progress-indicator{
   width: 100%;
   height: 80px;
   background-color: var(--dark-orange);
   align-content: center;
   margin: 0px;
   box-shadow: 2px 2px 2px 0 rgba(124,124,124,0.5);
}

input[type="text"], input[type="password"] {
  height: 40px;
  margin: 8px;
  padding: 4px;
}

input {
    font-size: 14px;
    padding: 4px;
    border: none;
    margin: 10px;
    border-radius: 4px;
}
input::placeholder {
    color: $757575;
    font-weight: 100;
    font-family: Avenir;
    font-size: 14px;
}

button{
  cursor: pointer;
  font-family: 'Avenir';
  text-decoration: none;
}
/** removing blue outline when highlighted**/
button:focus {outline:0;}

.next-button:hover {
    background-color: var(--dark-orange);
}

.next-button, .back-button {
  border-radius: 21px;
  position: fixed;
  font-weight: 500px;
  font-size: 14px;
  padding: 10px 40px;
  text-decoration: none;
  margin: 4px 2px;
}

.next-button {
  bottom: 10%;
  right: 5%;
  background-color: var(--medium-orange);
  border: none;
  color: white;
}

.back-button{
    bottom: 10%;
    left: 5%;
    background-color: white;
    border: 2px solid var(--medium-orange);
    color: var(--medium-orange);
    text-decoration: none;
}

.back-button:hover {
    background-color: var(--medium-orange);
    color: white;
}
