
/**
Global CSS
**/
/** color variables**/
:root{
    --medium-orange: #FFA000;
    --gold: #FFC107;
    --pale-orange: #FFECB3;
    --blue-black: #37474F;
    --gray: #E0E0E0;
    --offwhite: #ECEFF1;
    --blue: #0091EA;
    --green: #00C853;
    --yellow: #FFD600;
    --dark-orange: #FF6D00;
}
body, div, button, p{
   font-family: 'Avenir', sans-serif;
}
h1{
    font-family: 'Avenir', sans-serif;
    color: var(--gold);
    text-align: left;
    margin: 10px 10%;
}
h2, h3, h4{
    font-family: 'Avenir', sans-serif;
    color: var(--blue-black);
    text-align: left;
    margin: 5px 10%;
    font-weight: 500;
}

input[type="text"], input[type="password"] {
  height: 40px;
  font-size: 14px;
  margin: 8px;
  padding: 8px;
}

input {
    font-size: 80%;
    padding: 4px;
    border: 1px solid var(--offwhite);
    margin: 10px;
    border-radius: 4px;
}
input::placeholder {
    color: var(--gray);
    font-weight: 100;
}

button{
  cursor: pointer;
  font-family: 'Avenir';
  text-decoration: none;
}
/** removing blue outline when highlighted**/
button:focus {outline:0;}

.next-button:hover {
    background-color: var(--medium-orange);
}

.next-button, .back-button {
  border-radius: 21px;
  position: fixed;
  font-weight: 500px;
  font-size: 14px;
  padding: 10px 40px;
  text-decoration: none;
  margin: 4px 2px;
}

.next-button {
  bottom: 10%;
  right: 5%;
  background-color: var(--gold);
  border: none;
  color: white;
}

.back-button{
    bottom: 10%;
    left: 5%;
    background-color: white;
    border: 2px solid var(--gold);
    color: var(--gold);
    text-decoration: none;
    margin: 4px 2px;
}

.back-button:hover {
    background-color: var(--gold);
    color: white;
}
