/**
Global CSS
**/
:root{
    --color1: #78909C;
}
body, div, button, p{
   font-family: 'Avenir', sans-serif;
}
h1{
    font-family: 'Avenir', sans-serif;
    color: #FFC107;
    text-align: center;
    margin-bottom: 10px;
}
h2, h3, h4{
    font-family: 'Avenir', sans-serif;
    color: #37474F;
    text-align: center;
    font-weight: 500;
}
input {
    font-size: 70%;
    padding: 8px;
    color: white;
}

button{
  cursor: pointer;
  border-radius: 12px;
}
/** removing blue outline when highlighted**/
button:focus {outline:0;}
.next-button{
  position: fixed;
  bottom: 10%;
  right: 5%;
  background-color: var(--color1);
  color: #FFC107;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.back-button{
    position: fixed;;
    bottom: 10%;
    left: 5%;
    background-color: var(--color1);
    color: white;

  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
