body {
  background-color: white;
}

.back-layer-1 {
  /* background-color: grey; */
  color: grey;
  width: 70%;

  /* background-position: center; */
}
.back-layer-1 h1 {
  text-align: center;
  color: grey;
}
.back-layer-1 h3 {
  text-align: center;
  color: grey;
}

.back-layer-2 {
  background-color: grey; /*should be a darker grye*/
  border: 1px black;
  color: white;
}
.group-name {
  float: left;
}

.individual-name {
  float: left;
}

.frequency-opt {
  display: inline;
  border: 1px solid white;
  font-size: 12px;
  padding: 5px;
}
.frequency-opt-row {
  /* float: right; */
  display: inline-block;
  padding-left: 20px;
}
.group-frequency {
  color: white
  background-color: grey;
  margin: 20px;
  font-size: 20px;
  text-align: center;
  border: 1px solid white;
  padding: 30px;

}
.individual-frequency {
  margin: 20px;
  font-size: 20px;
  text-align: center;
  border: 1px solid white;
  padding: 30px;
}
