@import "index.css";
@import url("index.css");

#progress{
  display:block;
  margin:  auto;
  padding: 16px;
  height: 60%;
  width: 60%;
}

.application_box1 {
  margin-top: 20px;
  margin-bottom: auto;
  width: 100%;
  display: inline-block;
}

.application_box2 {
  margin-bottom: 30px;
  width: 100%;
  display: inline-block;
}

#facebook, #phone, #whatsapp, #slack, #wechat, #email{
  background: white;
  color: var(--gold);
  width: 250px;
  float: left;
  width: 150px;
  height: 75px;
  border: 2px solid var(--gold);
  font-size: 14px;
  font-family: 'Avenir';
}

#facebook, #slack {
  margin-left: 30%; 
}

#phone, #whatsapp, #wechat, #email{
  margin-left: 2%;
}