* {
    box-sizing: border-box;
    font-family: 'Nunito';
    color: grey;
}

h1 {
  margin-top: 5%;
  text-align: center;
  color: grey;
  font-family: 'Nunito'
}

h3 {
  text-align: center;
  color: grey;
  font-family: 'Nunito'
}

.application_box {
  margin-bottom: 3%;
  width: 100%;
  display: inline-block;

}



#facebookmessenger{
  width: 250px;
  float: left;
  margin-left: 30%;
  width: 150px;
  height: 75px;
  border: 3px solid #4CAF50;
}

#phone{
  width: 250px;
  margin-left: 2%;
  float: left;
  width: 150px;
  height: 75px;
  border: 3px solid #4CAF50;
}
#Whatsapp{
  width: 250px;
  margin-left: 2%;
  float: left;
  width: 150px;
  height: 75px;
  border: 3px solid #4CAF50;
}
#Slack{
  width: 250px;
  margin-left: 30%;
  float: left;
  width: 150px;
  height: 75px;
  border: 3px solid #4CAF50;
}
#Wechat{
  width: 250px;
  margin-left: 2%;
  float: left;
  width: 150px;
  height: 75px;
  border: 3px solid #4CAF50;
}
#email{
  width: 250px;
  margin-left: 2%;
  float: left;
  width: 150px;
  height: 75px;
  border: 3px solid #4CAF50;
}
