@import "index.css";
@import url("index.css");

#progress{
  display:block;
  margin: 0 auto;
}


.application_box {
  margin-bottom: 3%;
  width: 100%;
  display: inline-block;

}

#facebookmessenger{
  background: white;
  color: black;
  width: 250px;
  float: left;
  margin-left: 30%;
  width: 150px;
  height: 75px;
  border: 3px solid var(--medium-orange);
}

#phone{
  background: white;
  color: black;
  width: 250px;
  margin-left: 2%;
  float: left;
  width: 150px;
  height: 75px;
  border: 3px solid var(--medium-orange);
}
#Whatsapp{
  background-color: white;
  color: black;
  width: 250px;
  margin-left: 2%;
  float: left;
  width: 150px;
  height: 75px;
  border: 3px solid var(--medium-orange);
}
#Slack{
  background-color: white;
  color: black;
  width: 250px;
  margin-left: 30%;
  float: left;
  width: 150px;
  height: 75px;
  border: 3px solid var(--medium-orange);
}
#Wechat{
  background-color: white;
  color: black;
  width: 250px;
  margin-left: 2%;
  float: left;
  width: 150px;
  height: 75px;
  border: 3px solid var(--medium-orange);
}
#email{
  background-color: white;
  color: black;
  width: 250px;
  margin-left: 2%;
  float: left;
  width: 150px;
  height: 75px;
  border: 3px solid var(--medium-orange);
}
